body{
    padding: 3rem;
    max-width: 1678px;
    font-family: "Roboto", sans-serif;
    color: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* nav bar part */

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container{
    width: 100px;
    height: auto;
}

.tab-item-container{
    flex: 1;
}

.nav-bar{
    display: flex;
    flex-direction: row;
}

.nav-bar li{
    margin-left: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

.active::after{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background-color: #01b4e4;
}

/* pagination part */
.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    width: 100%;
    margin: 1rem auto;
}

.btn{
    padding: 8px;
    background-color: #01b4e4;
    border: 1px solid white;
    color: white;
}

/* movie list part */
.tab-view-active{
    display: block;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
}

.movie-card{
    text-align: center;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
    max-width: 100%;
    box-sizing: border-box;
}

.movie-card-title{
    font-size: 1.2rem;
    margin: 1rem 0;
    cursor: pointer;
}

.movie-card-title:hover{
    color: #90cea1;
}

.movie-card-img img{
    width: 100%;
}

.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.like-div{
    align-self: flex-end;
}


/* rating icon */
.ion-md-star:before{
    content: "★";
    color: #f5c518;
    margin-right: 0.5rem;
    cursor:default;
}

/* like icon */
.ion-md-heart:before{
    content: "♥";
    color:red;
}

.ion-md-heart-empty:before{
    content: "♡";
}

.movie-card .icon{
    font-size: 2rem;
    cursor: pointer;
}

/* modal */
#modal{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.modal-container{
    position:relative;
    height: 500px;
    max-width: 800px;
    background-color: white;
}

.modal-content{
    display: flex;
    padding: 4rem;
}

.modal-content .modal-img{
    width:33.33%;
    flex-shrink: 0;
}

.modal-content .modal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.modal-info{
    flex-grow: 1;
    margin-left: 2rem;
}

.modal-overview{
    max-height: 100px;
    overflow-y: scroll;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.genre-container{
    display: flex;
    flex-wrap: wrap;
}

.genre-item{
    padding: 0.5rem 1rem;
    background-color: #90cea1;
    color: white;
    border-radius: 5px;
}

.production-container{
    display: flex;
    flex-wrap: wrap;
}

.production-item{
    width: 30px;
    margin-right: 1rem;
}

.production-container .production-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.close-modal{
    padding: 1rem;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

/* modal close icon */
.ion-md-close:before{
    content:"X";
}

